<footer class="bottom-footer">
  <div class="copyright">
    <p>
    {{ if isset .Site.Params "Author" }}&copy; {{ .Site.Params.Author }}.{{end}} 
    {{ if isset .Site.Params "Email" }}<a href="mailto:{{ .Site.Params.Email }}">Email.</a>{{end}}
    {{ if isset .Site.Params "GithubUser" }}<a href="https://github.com/{{ .Site.Params.GithubUser }}">Github.</a>{{end}}
    </p>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44795918-3', 'auto');
  ga('send', 'pageview');
</script>

<script>
    renderMathInElement(document.getElementById('main'));
</script>

</div>
</body>
</html>
